# Question 4 and 5

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('country_vaccination_stats.csv')

In [3]:
df = pd.read_csv('country_vaccination_stats.csv')
def impute_missing_vaccinations(df):
    # Create a copy to avoid modifying the original DataFrame
    df_copy = df.copy()

    # Group by country to process each country individually
    grouped = df_copy.groupby('country')

    # Define a function to fill missing values for each group
    def fill_missing(group):
        # Get the minimum vaccination number for the group, ignoring NaN
        min_vaccination = group['daily_vaccinations'].min(skipna=True)
        
        # If the group has no valid vaccination numbers, set the min_vaccination to 0
        if pd.isna(min_vaccination):
            min_vaccination = 0
        
        # Fill NaN values with the minimum vaccination number found
        group['daily_vaccinations'].fillna(min_vaccination, inplace=True)
        return group

    # Apply the fill_missing function to each group
    df_imputed = grouped.apply(fill_missing)

    return df_imputed

# Count missing values before imputation
missing_before = df['daily_vaccinations'].isna().sum()
print(f"Missing values before imputation: {missing_before}")

# Impute missing values
df = impute_missing_vaccinations(df)

# Count missing values after imputation
missing_after = df['daily_vaccinations'].isna().sum()
print(f"Missing values after imputation: {missing_after}")

# Now df contains the imputed data
print("Imputation complete. DataFrame updated.")

Missing values before imputation: 60
Missing values after imputation: 0
Imputation complete. DataFrame updated.

In [4]:
df.head(10)

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    01-01-21             11070.0  Sputnik V
4  Argentina    01-02-21              8776.0  Sputnik V
5  Argentina    01-03-21              7400.0  Sputnik V
6  Argentina    01-04-21              6483.0  Sputnik V
7  Argentina    01-05-21              7984.0  Sputnik V
8  Argentina    01-06-21              8173.0  Sputnik V
9  Argentina    01-07-21              8363.0  Sputnik V

# Question 6

In [5]:
# Median daily vaccinations for each country
medians = df.groupby('country')['daily_vaccinations'].median()

# Sort countries by median daily vaccinations select the top 3
top_3_countries = medians.sort_values(ascending=False).head(3)

print("Top-3 countries with highest median daily vaccination numbers:")
print(top_3_countries)

Top-3 countries with highest median daily vaccination numbers:
country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

# Question 7

In [6]:
# Filter the DataFrame for 1/6/2021 or 1-6-2021 and sum the daily vaccinations
total_vaccinations_01062021 = df[df['date'].isin(['1/6/2021', '01-6-2021'])]['daily_vaccinations'].sum()

# Print the total vaccinations on 1/6/2021
print(total_vaccinations_01062021)

0.0